* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
@import url(colors.css);


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    background-color:#33334d;
    box-shadow: 10px 5px 10px 8px #400080;
}

nav {
    margin-left: 750px;
}

.header-list {
    display: flex;
    align-items:center;
    justify-content: center;
    list-style: none;
}

li {
    padding: 20px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    color: var(--text-color);
}

.header-li:hover{
    color:rgb(26, 26, 26);
    background-color: whitesmoke;
    cursor:pointer;
}

h1 {
    color: var(--text-color);
    background-color: var(--bg-text);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 55px;
}

main {
    background-image: url('../assets/background-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100vw;
}



.estructure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}
.name {
    font-family: 'Roboto Mono', monospace;
    font-size: 55px;
    color: var(--text-color);
    margin: 50px 0 0 0;
    border: 1px solid grey;    
}
    
.presentation span{
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    padding: 10px 20px;
    font-size: 26px;
    margin-top: 30px;
    background-color: var(--bg-text);
    border-radius: 10px;
    border: 1px solid grey;
}

.presentation img {
    width: 300px;
    border-radius: 50%;
    border: 10px groove #5c00e6;
    margin-top: 80px;
}

.presentation img:hover {
    opacity: 0.9;
    width: 320px;
}

.language img {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    text-align: center;    
    font-size: 22px;
    background-color: var(--bg-text);
    padding: 10px 20px;
    border-radius: 10px;
}
.text-presentation {
    margin-top: 80px;
    line-height: 45px;
    z-index: 1;
    border: 1px solid grey;
}

.about-me-title {
    margin-top: 100px;
    border: 1px grey solid;
}

.list-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-image: url('../assets/icon-list.png');

    margin-top: 50px;
}

.list-about-me .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bg-text);
    width: 45vw;
    border: solid grey 1px;
}

.list-about-me img {
    width: 50px;
    margin-left: 10px;
}

.list-icon {
    margin-right: 10px;
}



