* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background-color:#33334d;
    box-shadow: 10px 5px 10px 8px #400080;
}

ul {
    display: flex;
    align-items:center;
    justify-content: center;
    /* padding: 10px; */
    list-style: none;
}

li {
    /* margin: 0 40px; */
    padding: 20px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    color: #ffffe6;
}

li:hover{
    color:rgb(26, 26, 26);
    background-color: whitesmoke;
    cursor:pointer;
}

main {
    background-image: url('../../assets/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.name {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    color:rgb(235, 235, 235);
    margin: 20px 0 0 0;
}

.name:hover {
    color: #e161e1;
}

.presentation span{
    color: rgb(235, 235, 235);
    font-family: 'Roboto Mono', monospace;
    padding: 10px 0;
    font-size: 15px;
    margin-top: 10px;
}

.presentation span:hover {
    color:#e161e1;
}

.presentation img {
    width: 200px;
    border-radius: 50%;
    border: 10px groove #800080;
    margin-top: 10px;
}


